@using System.Net.Http;
@using System.Text;
@page "/create"
@inject IHttpClientFactory _clientFactory
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

    <div class="container">
        <form>

            <label for="fname">Author name</label>
            <input type="text" id="fname" name="firstname" placeholder="Name.." @bind-value="nauthor">
            <label for="subject">Content</label>
            <input type="text" id="subject" name="subject" placeholder="Write something.." style="height:200px" @bind-value="ncontent"></input>
            <button class="btn btn-primary" @onclick="createPost">Create</button>
        </form>
    </div>


    @code {

        private string nauthor;
        private string ncontent;

        private async void createPost()
        {
            var postJson = new StringContent(
                JsonSerializer.Serialize(new Posts { author = nauthor, content = ncontent }),
                Encoding.UTF8,
                "application/json");
            var client = _clientFactory.CreateClient();
            HttpResponseMessage response = await client.PostAsync("https://localhost:44362/api/Posts", postJson);
        }
        
    }
